fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv
supabase
langchain-core
langchain-groq
websockets
pymupdf
python-multipart
litellm
sqlalchemy
google-generativeai
langchain-community
langchain
faiss-cpu
python-pptx
llama-parse
langchain-openai
